html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
.menu {;
    background: #333;
    min-width: 200px;
}
#mapid {
    height: 100%;
}
.label{
    color: #EEE;
    font-size: 1rem;
}


.ctn {
    height: 100%;
    background: #F00;
}
.back {
    background: #000;
    height: 100%;
}
.map {
    background: #00F;
}
